./node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.next
.turbo
.vscode
.idea
.DS_Store

node_modules/
npm-debug.log
yarn-error.log
/ios/podfile.lock